# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# SQLite DB
data/*.db
data/*.sqlite
data/*.sqlite3

# Logs
logs/
*.log

# Secrets
.env
config/.env
config/settings.local.yaml
config_secret.py

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# reports
reports/